.dashboard {
    -fx-background-color: #0f172a;
    -fx-spacing: 0;
}

.body-left {
    -fx-padding: 5 0 5 5;
}

.body-right {
    -fx-padding: 5 5 0 5;
}

.owned-stocks {
    -fx-alignment: center;
}

.owned-stocks-title {
    -fx-alignment: center;
    -fx-background-color: #1F2937;
    -fx-border-color: #9CA3AF;
}

.owned-stocks-label {
    -fx-padding: 5px;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.controls {
    -fx-alignment: CENTER-RIGHT;
    -fx-padding: 5 0;
}

.advance-btn {
    -fx-alignment: right;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-background-color: derive(#1e293b, 20%);
    -fx-border-color: white;
}

.advance-btn:hover {
    -fx-border-color: #bfdcff;
    -fx-text-fill: #bfdcff;
    -fx-cursor: hand;
}

.info-bar {
    -fx-padding: 10;
    -fx-border-color: #9CA3AF;
    -fx-background-color: #1e293b;
}

.value-section {
    -fx-spacing: 10;
}

.name {
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-min-width: 100px;
    -fx-alignment: center;
    -fx-border-color: #9CA3AF;
    -fx-padding: 2.5;
    -fx-background-color: derive(#1e293b, 20%);
}

.price {
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-min-width: 100px;
    -fx-alignment: center;
    -fx-border-color: #9CA3AF;
    -fx-padding: 2.5;
    -fx-background-color: derive(#1e293b, 20%);
}

.change {
    -fx-font-size: 14px;
    -fx-min-width: 100px;
    -fx-font-weight: bold;
    -fx-border-color: #9CA3AF;
    -fx-alignment: center;
    -fx-padding: 2.5;
    -fx-background-color: derive(#1e293b, 20%);
}

.positive-change {
    -fx-text-fill: #4CAF50;
}

.negative-change {
    -fx-text-fill: #E57373;
}

.zero-change {
    -fx-text-fill: #515151;
}