.table-view {
    -fx-background-color: transparent;
}

.table-view .column-header {
    -fx-background-color: derive(#1F2937, 20%);
    -fx-border-color: #9CA3AF;
}

.table-view .column-header:hover {
    -fx-background-color: derive(#1F2937, 10%);
    -fx-cursor: hand;
}

.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-font-size: 14px;
}

.table-row-cell {
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-cell-size: 36px;
}

.table-row-cell:odd {
    -fx-background-color: #1F2937;
}

.table-row-cell:even {
    -fx-background-color: derive(#1F2937, 5%);
}

.table-row-cell:hover {
    -fx-background-color: derive(#1F2937, 20%);
    -fx-cursor: hand;
}

.table-row-cell:selected {
    -fx-background-color: #244861;
}

/*.table-row-cell:selected .table-cell {*/
/*    -fx-text-fill: #bfdcff;*/
/*}*/

.table-row-cell:empty {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.table-row-cell:empty .table-cell {
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

.table-view .column-header .arrow {
    -fx-background-color: #bfdcff;
}

.default-cell {
    -fx-border-color: rgba(100,100,100,0.8);
    -fx-alignment: CENTER_LEFT;
    -fx-padding: 0 10 0 10;
    -fx-text-fill: white;
}

.positive-change {
    -fx-text-fill: #4CAF50;
}

.negative-change {
    -fx-text-fill: #E57373;
}

.zero-change {
    -fx-text-fill: derive(#515151, 50%);
}

.buy-cell {
    -fx-text-fill: white;
    -fx-background-color: #4CAF50;
    -fx-font-weight: bold;
    -fx-alignment: CENTER;
    -fx-padding: 0 10 0 10;
}

.buy-cell:hover {
    -fx-background-color: derive(#4CAF50, -20%);
    -fx-border-color: #bfdcff;
    -fx-text-fill: #bfdcff;
}

.sell-cell {
    -fx-text-fill: white;
    -fx-background-color: #E57373;
    -fx-font-weight: bold;
    -fx-alignment: CENTER;
    -fx-padding: 0 10 0 10;
}

.sell-cell:hover {
    -fx-background-color: derive(#E57373, -20%);
    -fx-border-color: #bfdcff;
    -fx-text-fill: #bfdcff;
}